<%= form_for(@aiderSystem, :url => angryman_system_aider_systems_path) do |f| %>
  <% if @aiderSystem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aiderSystem.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% @aiderSystem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username %>
    </div>
    <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </div>
    <div class="field">
        <%= @aiderSystem.system.type %>_username<br>
        <input type="text" name="authUsername" />
    </div>
    <div class="field">
        <%= @aiderSystem.system.type%>_password<br>
        <input type="password" name="authPassword" />
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
