<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span><%= @aiderSystem.name %></span>
</p>

<p>
  <strong>Username:</strong>
  <span><%= @aiderSystem.username %></span>
</p>

<p>
  <strong>Base64key:</strong>
  <span><%= @aiderSystem.base64key %></span>
</p>

<%= link_to 'Back', angryman_system_aider_system_path %>
