<h1>Listing task_workflow_definitions</h1>

<table>
  <thead>
    <tr>
      <th>Model name</th>
      <th>Diagram generated</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_workflow_definitions.each do |task_workflow_definition| %>
      <tr>
        <td><%= task_workflow_definition.model_name %></td>
        <td><%= task_workflow_definition.diagram_generated %></td>
        <td><%= task_workflow_definition.description %></td>
        <td><%= link_to 'Show', task_workflow_definition %></td>
        <td><%= link_to 'Edit', edit_task_workflow_definition_path(task_workflow_definition) %></td>
        <td><%= link_to 'Destroy', task_workflow_definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task workflow definition', new_task_workflow_definition_path %>
