<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<span><%= @system.name %></span>
</p>

<p>
	<strong>Type:</strong>
	<span><%= @system.type %></span>
</p>

<p>
	<strong>Description:</strong>
	<span><%= @system.description %></span>
</p>

<p>
	<strong>Angryman:</strong>
	<span><%= @system.angryman.nick %></span>
</p>

<%= link_to 'Back', angryman_systems_path %>
