<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @system.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @system.description %>
</p>

<p>
  <strong>Angryman:</strong>
  <%= @system.angryman %>
</p>

<%= link_to 'Back', angryman_systems_path %>
