<h1>Listing angrymen</h1>

<table>
  <thead>
    <tr>
      <th>Nick</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @angrymen.each do |angryman| %>
      <tr>
        <td><%= angryman.nick %></td>
        <td><%= link_to 'Show', angryman %></td>
        <td><%= link_to 'Edit', edit_angryman_path(angryman) %></td>
        <td><%= link_to 'Destroy', angryman, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Angryman', new_angryman_path %>
