<p id="notice"><%= notice %></p>

<p>
  <strong>Nick:</strong>
  <%= @angryman.nick %>
</p>

<p>
  <%= @angryman.config_ok? ? "status: OK" : "未配置完成，请配置angryman" %>
</p>
  
<table>
	<tbody>
		<% @angryman.required_systems.each do |key| %>
			<%
				unless @angryman.configurations[key].nil?
					system = @angryman.configurations[key]
			%>
  				<tr>
  					<td><%= system.name %></td>
  					<td><%= system.type %></td>
  					<td><%= system.description %></td>
  					<% unless system.config_ok? %>
						<td>
						<%= system.type %>没有配置，进行配置 
						</td>
					<% end %>
  				</tr>
  			<% else %>
  				<tr>
  					<td colspan=4 >
  						<%= link_to '配置' + key, new_angryman_system_path(@angryman, :type => key) %>
  					</td>
  				</tr>
			<% end %>	
		<% end %>
	</tbody>
</table>

<p>
<%= link_to 'Edit', edit_angryman_path(@angryman) %> |
<%= link_to 'Back', angrymen_path %>
</p>