<p id="notice"><%= notice %></p>

<p>
  <strong>Nick:</strong>
  <%= @angryman.nick %>

</p>

<p>
  <%= @angryman.config_ok? ? "config OK" : "config not OK" %>
</p>

  <% if @angryman.systems.size > 0 %>
  	<table>
  		<thead>
		    <tr>
		      <th>Name</th>
		      <th>Type</th>
		      <th>Description</th>
		    </tr>
		</thead>

		<tbody>
	  		<% @angryman.systems.each do |system| %>
		  		<tr>
		  			<td><%= system.name %></td>
		  			<td><%= system.type %></td>
		  			<td><%= system.description %></td>
		  		</tr>
	  		<% end %>
	  	</tbody>
  	</table>
  	
  <% end %>

<p><%= link_to 'Create system', new_angryman_system_path(@angryman) %></p>

<%= link_to 'Edit', edit_angryman_path(@angryman) %> |
<%= link_to 'Back', angrymen_path %>
